*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}
body{
  background: #080808;
  color: #fff;
}
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.6s;
}

nav ul li a:hover::after{
  width: 100%;
}

.header-text{
  margin-top: 20%;
  font-size: 40px;
}

.header-text h1{
  font-size: larger;
  margin: 10px;
}

.header-text h1 span{
  color: #ff004f;
}

.jazz{
  width: 400px;
  height: 460px;
  float: right;
  transform: translate(-30px,-260px);
  border-radius: 15px;
}